{{!< default}} 

<div class="row div-wapper">
    <div class="col-md-10 offset-md-1">
        {{#post}} 
            <article class="{{post_class}} post after-post-margin">
                <a class="btn read-more-butt" href="{{@site.url}}" title="Back to homepage">Back to home</a>
                {{#if feature_image}}
                    <div class="post-image-div">
                        <img src="{{feature_image}}" class="page-post-image img-fluid" />
                        </a>
                    </div>
                {{/if}}

                <h1 class="post-title text-center">
                    <a href="{{url}}" title="{{title}}" class="article-title">{{title}}</a>
                </h1>
                {{!-- <div class="content-padded"> --}}
                    {{content}}
                {{!-- </div>                 --}}
            </article>
                
                {{>post-pagination}}

                {{!-- {{>share}}  --}}

                {{>utterances}} 
        {{/post}}
    </div>

</div>